@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Changa:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  position: relative;
  overflow: hidden;
  font-family: "Amiri", serif;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 400px;
  width: 250px;
  padding: 20px;
  background-color: red;
  border: none;
  outline: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

img {
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  animation-name: rotatein;
  animation-timing-function: linear;
  animation-duration: 0.5s;
}

@keyframes rotatein {
  from {
    transform: translateY(0px);
    opacity: 0;
  }
  to {
    transform: translateX(5);
    opacity: 1;
  }
}
